.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.formsec{
    background-color: rgb(124, 121, 121);
    padding: 40px;
    box-shadow: 5px 5px 5px black;
}